body{
    outline: auto;
    outline-color: rgb(28, 28, 130);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 40px;
}
header{
    text-align: left;
    color: rgb(0, 119, 255);
    font-size: 30px;
    padding-top: 10px;
}
p{
    text-align: justify;
}
img{
    padding-left: 15px;
}