*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font: 14px Arial;
}
.clearfix{
    clear: both;
}
.wrapper{
    position: relative;
    margin: 0 auto;
    width: 1120px;
}
.logo, .menubar{
    height: 65px;
    float: left;
}
.logo{
    background-image: url(../images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 250px;
}
.header{
    width: 100%;
}
.menubar ul{
    margin-top: 20px;
    padding-left: 200px;
}
.menubar ul li{
    list-style-type: none;
    display: inline-table;
    padding: 2px 20px 2px 20px;
}
.menubar li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.fullbanner{
    background-image: url(../images/banner.png);
    background-position: center center;
    background-size: cover;
    height: 420px;
}
.product{
    width: 890px;
    height: 180px;
    margin: 15px auto;
}
.product-type{
    display: inline-block;
    height: 180px;
    width: 218px;
}
.text1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: black;
    position: relative;
    bottom: 35px;
}
.text2{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: black;
    position: relative;
    bottom: 35px;
}
.text3{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: black;
    position: relative;
    bottom: 35px;
}
.text4{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: black;
    position: relative;
    bottom: 35px;
}
.about{
    width: 904px;
    margin: 5px auto;
    height: 350px;
}
.about .introduce{
    font-size: 25px;
    margin-bottom: 15px;
}
.ab{
    display: inline-block;
    width: 294px;
    height: 250px;
}
.ab img{
    width: 298px;
    height: 250px;
    z-index: 1;
    position: relative;
}
.text5{
    text-align: center;
    font-size: 20px;
    color: white;
    position: relative;
    bottom: 290px;
    z-index: 3;
}
.text6{
    text-align: center;
    font-size: 20px;
    color: white;
    position: relative;
    bottom: 290px;
    z-index: 3;
}
.text7{
    text-align: center;
    font-size: 20px;
    color: white;
    position: relative;
    bottom: 290px;
    z-index: 3;
}
.ab .overlay{
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    height: 250px;
    width: 298px;
    bottom: 253px;
}
.footer{
    background-color: yellow;
}
.footer-container{
    width: 1000px;
}
.footer ul{
    margin: 10px 0 10px 0;
    padding: 20px 5px 20px 0;
}
.footer li{
    list-style: none;
    line-height: 20px;
    font-size: 15px;
}
.footer-type li a{
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    color: black;
}
.footer-type{
    display: inline-table;
    width: 330px;
}